{% extends "notes/base.html" %} {% load static %} {% block content %}
<div class="appbar">
  <a href="/" class="logo">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
  </a>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <div class="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul class="menu">
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/tags">
        <li>Lista de Tags</li>
      </a>
      <a
        href="https://github.com/DaviReisVieira/tecweb-projeto-1B"
        target="_blank"
      >
        <li>Sobre o Projeto</li>
      </a>
    </ul>
  </div>
</div>

<main class="tag-list-container">
  <h1>Lista de Tags</h1>
  <ul>
    {% for tag in tags %}
    <a href="/tags/{{ tag.id }}"
      ><li><p>{{tag.name}}</p></li></a
    >
    {% endfor %}
  </ul>
</main>
{% endblock %}
